<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Blogpad</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'base.css' %}">

</head>
<body>

{% block header %}
<header>
  <h1>Blogpad</h1>
  <div id="header-stack">
  <form id="form" role="search">
    <input id="search-bar" type="search" id="query" name="q"
    placeholder="Search..."
    aria-label="Search through site content">
    <button>Search</button>
  </form>
    <!-- <a>
      Login/Register
    </a> -->
  </div>  
</header>
{% endblock %}

{%block content%}
{% endblock %}
</body>
</html>