body {
	background-color: #809080;
}

header{
	display: flex;
	justify-content: space-between;
  
}	

/* Buttons on dropdown menu*/
.drop-button{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;
	height: 30px;
	
}

/*containers for drop-buttons*/
.dropdown{
	position: relative;
	background-color: #858085;
	border-radius: .30rem;
	height: 30%;
	
}
/*menu activated when drop-button is clicked*/
.dropdown-menu{
	position: absolute;
	right: 0;
	background-color: #858085;
	border-radius: .30rem;
	box-shadow: 2px 2px 4px .2px rgba(0, 0, 0, .3);
	padding: .5rem;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
	pointer-events: none;
}

.dropdown.active > .drop-button + .dropdown-menu{
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}
.dropdown.active > .drop-button{
	color: #301515;
}

.information-grid{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 1rem;
}

/*container for dropdown menu links*/
.dropdown-links{
	display: flex;
	flex-direction: column;
	
}

/*container wrapping header drop-buttons*/
.button-container{
	display: "flex";

}

.sidebar{
	position: fixed;/* changes position from static to fixed*/
	right: 0;
	height: 100%;
	background-color: #858085;
	z-index: -1; /* lets fall behind cascading containers*/
	
	
	
}

.sidebar > form{
	padding-top: .75rem;
	padding-left: .75rem;
	padding-right: .75rem;
}

.sidebar > form > input{
	display: flex;
	flex-direction: column;
	margin-bottom: .5rem;

}

.sidebar > form > button{
	background-color #808080; /* make black with purple tint*/
}
.header-line{
	position:fixed;
	height:5px;
	width: 100%;
	background-color: #858085;
	z-index: -1;
}

.psudo-circle {
    position: absolute;
    background-color: #809080;
    width: 1.5rem;
    height: 1.3rem;
    border-radius: 2rem;
    right: 14.6rem;
    z-index: 1;
    top: 6rem;
    overflow: hidden;
}

.psudo-square{
	position: absolute;
	background-color: #858085;
	width: 1rem;
	height: 1rem;
	right: 14.5rem;
}

/*welcome to digital journal write your journal or diary online and decide between public or private*/
