<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/default.css"/>
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}" defer></script>
    <title>{% block title %}{%endblock%}</title>
</head>
<body>
    <header>
		{% block heading1 %}<h1>BlogPad</h1>{% endblock %}
		
		<!-- container wrapping drop-buttons
		<div class="button-container">
			{% block button_container %}
			container for dropdown menu elements
			drop-button, form, forms label and input elements
			{% if not current_user.is_authenticated and not url_for("auth.sign_in") %}
			<div class="dropdown" data-dropdown>
				<button class="drop-button" data-dropdown-button>Sign In</button>
				<div class="dropdown-menu">
					<form method="POST">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" placeholder="Enter email"/>
						<label for="password">Password</label>
						<input type="password" name="password" id="password" placeholder="Enter password"/>
						<button type="submit">Sign In</button>
					</form>
				</div>
			</div>
			{% endif %}
	
			container for dropdown menu elements 
			drop-button, dropdown-menu information grid, div holding dropdown heading/link combos
			<div class="dropdown" data-dropdown>
				<button class="drop-button" data-dropdown-button>options</button>
				<div class="dropdown-menu information-grid">
					<div>
						<div class="dropdown-heading">Find</div>
						<div class="dropdown-links">
							{% if not current_user.is_authenticated %}
							<a href="/sign-up" class="drop-button">Sign Up</a>
							{% endif %}
							{% if current_user.is_authenticated %}
							<a href="" class="drop-button">Users</a>
							<a href="" class="drop-button">Topics</a>
							<a href="" class="drop-button">Groups</a>
							{% endif %}
						</div>				
						<div class="dropdown-heading">Settings</div>
						<div class="dropdown-links">
							{% if current_user.is_authenticated %}
							<a href="" class="drop-button">Account</a>
							<a href="" class="drop-button">Color</a>
							<a href="/logout" class="drop-button">Log out</a>
							{% endif %}
						</div>				
					</div>
				</div>
			</div>
            {% endblock %}
		</div>-->
	</header>
	
    {% block headerline %}{% endblock %}
	

    {% block content %}{% endblock %}
	
    
	<aside class="sidebar">
        {% block siderbar %}
        {% endblock %}
	</aside>
</body>
</html>