{% extends "base.html" %}

{% block heading1 %} > {{user.username}} {% endblock %}
<nav id="navbar"></nav>
{% block content %}
<main>
        <form class="page-container" method="POST">
                <div id="page-container">
                        <label for="page">Write Away:</label>
                        <textarea id="page" name="page" wrap="soft"></textarea>
                        <button id="page-button" type="submit">Post</button>
                </div>
        </form>
        <h1 align="center">Pages</h1>
        <div class="folder">
                {% for new_page in user.pages %}
                <div class="page-card">
                        <div class="page-card-nav">
                                <button type="button" class="close" onClick="#">
                                        <span aria-hidden="true">u</span>
                                </button>
                                <button type="button" class="close" onClick="#">
                                        <span aria-hidden="true">e</span>
                                </button>
                                <button type="button" class="close" onClick="deletePage({{ new_page.id }})">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <article>{{ new_page.data }}</article>
                </div>
                {% endfor %}
        </div>
</main>
{% endblock %}

