{% extends "base.html" %}


{% block heading1 %}<header id="sign-in-header"><h2 id="sign-in-heading">Welcome Back</h2></header>{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
		<div class="notification is-danger" id="flash-message">
			<br/>
			{{ messages[0] }}
		</div>
		{% endif %}
	{% endwith %}
    <main>
    <div id="item-container">
        <form method="POST" class="sidebar-form" id="signin-form">
            <h3 align="center">Sign in</h3>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter email"/>
            <label for ="password1">Password:</label>
            <input type="password" id="password" name="password" placeholder="Create password"/>
            <a class="form-button" href="#" onclick="submitSigninForm()" style="--self-color:rgba(230, 193, 193, 0.9)">
                <span>
                    Login
                    <i></i>
                </span>
            </a>
        </form>
    </div>
    <div id="sign-up-link-position">
        <a href="/sign-up" id="sign-up-link">Sign Up</a>
    </div>
    </main>
{% endblock %}