:root {
	font-size: 16px;
	--text-primary: #000000;
	--bg-primary: #53ce9b00;
}

body {
	background-color: #1f503bde;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	
}

body::-webkit-scrollbar-thumb {
	
}

header{
	display: flex;
	justify-content: space-between;
  
}	

/* Buttons on dropdown menu*/
.drop-button{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;
	height: 30px;
	
}

/*containers for drop-buttons*/
.dropdown{
	position: relative;
	background-color: #858085;
	border-radius: .30rem;
	height: 30%;
	
}
/*menu activated when drop-button is clicked*/
.dropdown-menu{
	position: absolute;
	right: 0;
	background-color: #858085;
	border-radius: .30rem;
	box-shadow: 2px 2px 4px .2px rgba(0, 0, 0, .3);
	padding: .5rem;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
	pointer-events: none;
}

.dropdown.active > .drop-button + .dropdown-menu{
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}
.dropdown.active > .drop-button{
	color: #301515;
}

.information-grid{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 1rem;
}

/*container for dropdown menu links*/
.dropdown-links{
	display: flex;
	flex-direction: column;
	
}

/*container wrapping header drop-buttons*/
.button-container{
	display: "flex";

}

.sidebar{
	position: absolute;/* changes position from static to fixed*/
	right: 0;
	height: 100%;
	background-color: #858085;
	box-shadow: 2px 2px 4px .2px rgba(0, 0, 0, .3);
	z-index: -1; /* lets fall behind cascading containers*/
}

#flash-message{
	position: absolute;
}

#page{
	display: absolute;
	width: 100%;
	height: 15rem;
	color: black;
	background-color: rgb(90, 117, 90);
	border: none;
	margin-bottom: 1rem;
}

#page-button{
	width: 95%;
	background-color: rgb(90, 117, 90);
	border-radius: 5rem;
	border-color: #809080;
}

#page-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.2rem solid #1f503bde;
	border-radius: 2rem;
	padding: 2.5rem;
	margin: 1rem;
	color:#15b988;
	background-color: #1f503bde;
	box-shadow: 2px 2px 4px .2px rgba(0, 0, 0, .3);
	
}

.sidebar > form{
	padding-top: .75rem;
	padding-left: .75rem;
	padding-right: .75rem;
}

.sidebar > form > input{
	display: flex;
	flex-direction: column;
	margin-bottom: .5rem;

}

.sidebar > form > button{
	background-color: #808080; /* make black with purple tint*/
}

.new-page-container{
	display: flex;
	flex-direction: column;
	
}

.header-line{
	box-shadow: 1px 1px 4px .2px rgba(0, 0, 0, .2);
	position: absolute;
	height:5px;
	width: 100%;
	background-color: #858085;
	z-index: -1;
}

.psudo-circle {
    position: absolute;
    background-color: #809080;
    width: 1.5rem;
    height: 1.3rem;
    border-radius: 2rem;
    right: 14.6rem;
    z-index: 1;
    top: 6rem;
    overflow: hidden;
}

.psudo-square{
	position: absolute;
	background-color: #858085;
	width: 1rem;
	height: 1rem;
	right: 14.5rem;
}

.image-frame{
	position: absolute;
	width: 45rem;
}

.sign-in-content{
	position: absolute;
	width: 45rem;
}


.image{
	position: absolute;
	min-width: 500px;
	height: 370;
	left: 25%;
	top: 3rem;
	
}

.slider-buttons{
	position: absolute;
	top: 21rem;
	left: 22rem;
}
/*welcome to digital journal write your journal or diary online and decide between public or private*/
